.enquieries{
  padding: 1em;
  display: grid;
  font-size: 150%;
  grid-row-gap: 0.3em;
  
}

.enquieries > button{

  display: grid;
  text-align: left;
}

.link, .link:hover{

  display: grid;
  text-align: left;
  color: black;
  text-decoration: none;
  
}
