.PropertyDetail {
  display: grid;
  grid-template-columns: 50% 50%;
  
}

.PropertyDetail > div{
  background: #e6e6e6;
  padding: 1em;
}

.PropertyDetail > div:nth-child(odd){
  background: #d9d9d9;
}

.PropertiesList {
  margin-left: 1em;
  display: grid;
  grid-row-gap: 1em;
}